* {
  font-style: Poppins, serif;
}

/* Home Page CSS */

.heroimage {
  background-image: url(/assets/media/images/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: cover;
  height: 100vh;
}

.herotext {
  padding-top: 15%;
  text-align: center;
  font-size: 2.7em;
}

.about-yuktix {
  background-color: rgb(55, 114, 255, 0.1);
}

#about_content {
  text-align: center;
  font-size: 2em;
  color: #377dff;
  padding: 5%;
}

/* Case Study Details */
.details .content + .content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 600;
  font-size: 26px;
  color: #010483;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #1acc8d;
}

.details .content p:last-child {
  margin-bottom: 0;
}

.casestudydesc {
  font-size: 1.4em;
  color: black;
}

/*End Details */

#areu {
  text-align: center;
  margin: auto;
}

#how_yuk {
  background-color: rgba(55, 114, 255, 0.08);
  text-align: center;
}

#how_content {
  text-align: center;
  font-size: 2em;
  color: #377dff;
  padding: 5%;
}

#video {
  padding: 10%;
}

#tech-stack {
  background-color: rgba(55, 114, 255, 0.08);
  text-align: center;
  padding-top: 5%;
}

#tech-stackdesc {
  text-align: center;
  font-size: 1.5em;
  color: #377dff;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f5ff;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: 'Poppins', sans-serif;
}

.section-title h2::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #010483;
}

/* END Home Page CSS */
/* Agriculture Page CSS */

.agriimage {
  background-image: url(/assets/media/images/yuktixherobanner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: cover;
  background-color: grey;
  opacity: 0.9;
  height: 100vh;
}

.agritext {
  padding-top: 40%;
  padding-left: 10%;
  text-align: left;
  font-size: 2.7em;
  color: black;
}

/* END AGRICULTURE PAGE CSS */

/* Automatic Weather Station Page CSS*/

.productimage {
  background-image: url(/assets/media/images/YuktixImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.producttext {
  text-align: center;
  color: white;
  height: auto;
  margin-top: 25%;
  font-style: Poppins;
  font-weight: normal;
  padding: 20px;
}

.bt {
  text-align: center;
  margin-top: 20px;
}

.prod {
  background-color: rgb(55, 114, 255, 0.1);
}
