#banner_image {
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(/assets/media/images/2.jpg) no-repeat center center;
  background-size: cover;
}

#banner_content {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  max-width: 660px;
  height: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#agribanner_image {
  padding-bottom: 50px;
  text-align: left;
  background: url(/assets/media/images/2.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(112, 107, 110, 0.3);
}

#agribanner_content {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  max-width: 660px;
  height: 600px;
  text-align: left;
  color: white;
  top: 10%;
  bottom: 10%;
  left: 10%;
}

#about_yuktix {
  background-color: rgba(55, 114, 255, 0.1);
}

#about_content {
  height: 429px;
  margin-top: 5%;
  margin-bottom: -10%;
  left: 176px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 63px;
  text-align: center;
  color: #377dff;
}

#features {
  background-color: rgba(55, 114, 255, 0.08);
}

#farmers {
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 70px;
}

#feature-heading {
  padding-top: 40px;
}

#feature-desc {
  font-family: Poppins;
  font-size: 1.5em;
  padding-right: 20%;
}

.box1 {
  padding-left: 7%;
}

#areu {
  text-align: center;
  margin: auto;
}

#areyou {
  margin-top: -5%;
}

#how_yuk {
  background-color: rgba(55, 114, 255, 0.08);
  text-align: center;
}

#how_content {
  height: 429px;
  margin-bottom: -10%;
  left: 176px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 63px;
  text-align: center;
  color: #377dff;
}

#video {
  padding: 10%;
}

#tech-stack {
  margin-top: 25%;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: rgba(55, 114, 255, 0.08);
  text-align: center;
}

#tech-stackdesc {
  height: 429px;
  left: 176px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 40px;
  text-align: center;
  color: #377dff;
  padding-left: 7%;
  padding-right: 7%;
}

#features3 {
  background-color: rgba(55, 114, 255, 0.08);
}

#cloud {
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 70px;
}

#feature3-heading {
  padding-top: 40px;
}

#feature3-desc {
  font-family: Poppins;
  font-size: 1.5em;
  padding-right: 20%;
}

#features4 {
  background-color: rgba(55, 114, 255, 0.08);
}

#dash {
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 70px;
}

#feature4-heading {
  padding-top: 40px;
}

#feature4-desc {
  font-family: Poppins;
  font-size: 1.5em;
  padding-right: 20%;
}

.imgs {
  margin-top: -20%;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f5ff;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: 'Poppins', sans-serif;
}

.section-title h2::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #010483;
}
